body {
    background-color: rgb(231, 86, 86);
}
form {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    background-color: rgb(236, 236, 78);
    padding: 1em;
}
input, label, textarea {
    display: inline-block;
    margin: 0.3em;
    padding: 0.3em;
}
